body {
  text-align: center;
}

img {
   border-radius: 20px;
}

.jumbotron {
   background-color:#00FFFF;
}

.search{
   background-color:#DCDCDC;
   width: 300px;
   height: 60px;
   border: 1px solid blue;
   box-sizing: border-box;
}

.result{
   background-color:#6495ED;
}